.full {
    height: 100vh;
    width: 100vw;
}

.container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    justify-content: center;
    align-items: center;
}

.row {
    flex-direction: row;
}

.border:last-child {
    border: none;
}

.border {
    border-right: 2px solid gray;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 100%;
}

.w-50 {
    max-width: 5rem;
}

.w-100 {
    max-width: 10rem;
}

#p5-container canvas {
    border: 1px solid black;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

button, input, select {
    font-size: large;
}

#show-neigh {
    width: 1rem;
    height: 1rem;
}

#neigh-container {
    display: flex;
    align-items: center;
}

html, body {
    margin: 0;
    padding: 0;
    font-size: large;
}